---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content={Astro.generator} >
			<title>Astro</title>
		</head>
		<body>
			<a href="/">Home</a>
			<a href="/main/">main</a>
			<a href="/blog/">Blog</a>
			<h1>My Astro Site !!!</h1>

		</body>

	</html>
</Layout>

<style>

</style>

